@{
    ViewBag.Title = "DetailsVoyage";
}
@model List<BoVoyage.Donnees.VoyageDetail>

    <h4>Voyage</h4>
    <hr />
    @*@{
    foreach (var item in Model)
    {
    @item.Id;
    @item.Pays;
    @item.Continent;
    @item.Region;
    @item.DateAller;
    }
    }*@
    <div>
        <table>
            @{
            foreach (var item in Model)
            {

            <tr>
                <td colspan="2">
                    @{ string image = "/Photo/" + @item.Image;}
                    <img src="@image" style="width:85%" /><br/><br/>

                </td>
                <td align="center">
                    <h3> Date et Horaires de Départ :  @item.DateAller </h3><br />
                    <h3> Date et Horaires de Retour : @item.DateRetour </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h1> Pays : @item.Pays</h1>
                    <h2> Continent : @item.Continent </h2>
                </td>
            </tr>
            <tr>
                <td rowspan="1">
                    <h4> @item.DescriptionVoyage </h4>
                    <h5> <strong>Description :</strong> @item.DescriptionDestination </h5><br />
                    <a href="#" class="btn btn-primary">Réservation</a>
                </td>
            </tr>
            }
            }
        </table>
    </div>
